@font-face {
    font-family: 'League Spartan';
    font-style: normal;
    src: url(/fonts/LeagueSpartan-VF.woff2) format('woff2');
    /* unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; */
}

/* latin */
@font-face {
    font-family: 'Fanwood Text Italic';
    font-style: normal;
    src: url(/fonts/fanwood_text_italic-webfont.woff) format('woff');
    font-feature-settings: "pnum", "kern", "liga", "clig";
}

@font-face {
    font-family: 'Fanwood Text';
    font-style: normal;
    font-feature-settings: "pnum", "kern", "liga", "clig";
    src: url(/fonts/fanwood_text-webfont.woff) format('woff');
}


.colr {
    float: right;
    width: 43%;
    margin-left: 0px;
    padding-left: 1em;
    padding-right: 1em;
    display: none;
}

@media (min-width: 85.375em) {
    .colr {
        display: unset;
        margin-right: -42%;
    }
}
@media (min-width: 120em) {
    .colr {
        margin-right: -48%;
        width: 43%;
    }
}
@media (min-width: 160em) {
    .colr {
        margin-right: -54%;
        width: 43%;
    }

}

a, p, li, strong, th, td,nav a,
footnotes, ol li, .resume-entry, .resume-entry p, .resume-entry ul, .resume-entry ol, .resume-entry li{
    font-family: Fanwood Text, FreeSerif, serif;
}

body {
    font-family: Fanwood Text, FreeSerif, serif;
    font-feature-settings: "pnum", "kern", "liga", "clig";
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6, .blog-post-title, .pagination, .category-content ul, .category-content ol,
strong,
.resume-entry .resume-entry-data, .resume-entry .what, p.resume-subcategory, .social ul li a, .contactbox a {
    font-family: League Spartan, FreeSans, sans-serif;
}

.page-title {
    font-family: League Spartan, FreeSans, sans-serif;
    line-height: 1.3em;
}

em, .myname a, em.taxonomy-emph,
blockquote, blockquote p, blockquote li {
    font-family : Fanwood Text Italic, Fanwood Text, FreeSerif, serif;
}

/* Autres ajustements */

figure {
    text-align: center;
}
figcaption {
    text-align: left;
}

p {
    font-family: Fanwood Text, FreeSerif, serif;

    margin-top: 1.2em;
    margin-bottom: 0;

    text-align: justify;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

p + p {
    margin-top: 0em;
    margin-bottom: 0em;
    text-indent: 1.5em;
}

p + ol, p + ul {
    margin-top: 0em;
}

.org-center p{
    text-align: center;
}
